<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet" />
      <link href="../../stylesheets/bootstrap-social.css" rel="stylesheet" />
      <link href="../../stylesheets/font-awesome.min.css" rel="stylesheet" />
      <link href="../../stylesheets/magnific-popup.css" rel="stylesheet" />
      <link href="../../stylesheets/creative.css" rel="stylesheet" />

      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

      <script type="text/javascript" src ="../../javascripts/scrollreveal.min.js"></script>
      <script  type="text/javascript" src ="../../javascripts/jquery.easing.min.js"></script>
      <script type="text/javascript" src ="../../javascripts/jquery.fittext.js"></script>
      <script type="text/javascript" src ="../../javascripts/jquery.magnific-popup.js"></script>
      <script type="text/javascript" src ="../../javascripts/creative.js"></script>
</head>
<body id = "page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Fahmida Joyti</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">Work</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
<div class="header-content">
    <div class="header-content-inner">
        <h1 style="font-size: 35px">
            Welcome
        </h1>
        <hr>
        <p>
            I am a Software Engineering Student at Iowa State who loves web development
        </p>
<a href="#about" class="btn btn-primary btn-xl page-scroll">Find out more about me!</a>
    </div>
</div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">

                </h2>
                <hr class="light">
                <p class="text-faded">
                 My name is Fahmida Joyti and I am originally from Dhaka, Bangladesh.I've had experience in C, Java, Javascript,and have also dabbled in PHP, Ruby and Python.I always look for opportunities to learn new technologies and apply them to build innovative projects.
                I am looking for a job that allows me to use my skills to make a difference in my community. From testing software for virtual library to building futuristic interfaces, I just want to go home knowing that I have learnt something new and used that knowledge to transform people's lives.


                </p>
                <a href="#tools" class="page-scroll btn btn-default btn-xl sr-button" data-sr-id="6" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: all 0.35s ease 0s, -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s; ">Let's Get Started!</a>


            </div>

        </div>

    </div>

</section>
<section id = "tools">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Tools and Frameworks I know
                </h2>
                <hr class="primary">


            </div>

        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../../images/angularjs.png">
                </div>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../../images/bootstrap.png">
                </div>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../../images/express-logo.png">
                </div>

            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="../../images/github.gif">
                </div>

            </div>

        </div>

    </div>

</section>
<section class="no-padding" id="work">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="../../images/portfolio/fullsize/1.jpg" class="portfolio-box">
                    <img src="../../images/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                CyShapes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../../images/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <img src="../../images/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Recycling App
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../../images/portfolio/fullsize/3.jpg" class="portfolio-box">
                    <img src="../../images/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../../images/portfolio/fullsize/4.jpg" class="portfolio-box">
                    <img src="../../images/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../../images/portfolio/fullsize/5.jpg" class="portfolio-box">
                    <img src="../../images/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../../images/portfolio/fullsize/6.jpg" class="portfolio-box">
                    <img src="../../images/portfolio/fullsize/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>You can get in touch with me in the following ways</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/fahmida-joyti-195848b8">
                <i class="fa fa-linkedin fa-3x sr-contact"></i>
                </a>
                <p>My linkedin profile</p>

            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/anastaisa.smith">
                    <i class="fa fa-facebook fa-3x sr-contact"></i>
                </a>
                <p>My facebook profile</p>

            </div>

        </div>
    </div>
</section>
]
</body>
</html>
